@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-color-primary-50: var(--color-orange-50, oklch(98.2% 0.018 155.826));
    --ui-color-primary-100: var(--color-orange-100, oklch(96.2% 0.044 156.743));
    --ui-color-primary-200: var(--color-orange-200, oklch(92.5% 0.084 155.995));
    --ui-color-primary-300: var(--color-orange-300, oklch(87.1% 0.15 154.449));
    --ui-color-primary-400: var(--color-orange-400, oklch(79.2% 0.209 151.711));
    --ui-color-primary-500: var(--color-orange-500, oklch(72.3% 0.219 149.579));
    --ui-color-primary-600: var(--color-orange-600, oklch(62.7% 0.194 149.214));
    --ui-color-primary-700: var(--color-orange-700, oklch(52.7% 0.154 150.069));
    --ui-color-primary-800: var(--color-orange-800, oklch(44.8% 0.119 151.328));
    --ui-color-primary-900: var(--color-orange-900, oklch(39.3% 0.095 152.535));
    --ui-color-primary-950: var(--color-orange-950, oklch(26.6% 0.065 152.934));
}

body, html {
    margin: 0;
    padding: 0;

}

.wwads-horizontal, .wwads-vertical{
    margin-top: 0!important;
}

.wwads-cn .wwads-horizontal{
    border-radius: 30px!important;
}

.dark .wwads-cn{
    color: var(--color-text-2)!important;
    background-color: rgb(var(--color-gray-800) / var(--tw-bg-opacity))!important;
}

.dark .wwads-text{
    color: rgb(var(--color-text-2)/ var(--tw-text-opacity))!important;
}

.dark .v-md-textarea-editor textarea{
    background-color: rgb(var(--color-gray-900) / 0.9);
}

.dark .toc-list .toc-link{
    color: rgb(var(--color-text-2) / var(--tw-text-opacity))!important;
}

h1{
    color: var(--color-text-1);
}

p{
    color:var(--color-text-2);
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}


@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

/** 代码自动换行 */
code{
    word-break:break-all;
}

/*::-webkit-scrollbar {*/
/*    background: linear-gradient(#05f,#ff7491,#dc3545);*/
/*    width: 0.35rem;*/
/*    height: 0.8rem*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: #90a1ad*/
/*}*/
